.buttonReview {
    padding: 5px;
    background-color: #fff;
    border: 1px solid rgb(163, 155, 155);
    border-radius: 5px;
}
.buttonReview:not(:last-child) {
    margin-right: 10px;
}
.buttonReview:hover {
    cursor: pointer;
    background-color: rgb(221, 211, 211);
}
